img {
    margin: auto;
}


/* Name Banner */

#firstname {
    font-family: "Dawning of a New Day";
    font-size: 10em;
    margin-bottom: 0;
    font-weight: inherit;


}

#lastname {
    font-family: "Ubuntu Condensed";
    font-size: 4em;
    margin-top: -17%;
    text-align: center;
    font-weight: normal;


}



/* Navigation Bar */

nav {
    
    font-family: "ubuntu Condensed";
    font-weight: normal;
    
}

nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: 95%;
    margin: auto;

}


nav ul li a {
    display: block;
    margin: auto 0 auto auto;
    font-size: 3em;
    text-align: right;
    text-decoration: none;
    width: 60%;
    padding-top: 2%;
}

/* Links */

/* unvisited link */
a:link {
    color: black;
}


/* visited link */
a:visited {
    color: deepskyblue;
}

/* mouse over link */
a:hover {
    color: lightblue;
}

/* selected link */
a:active {
    color: deepskyblue;
}


/* Divs */

#wrapper {
    margin: auto;
    width:80%;

}

/* Name Banner Divs */
#fname {
    width: 80%;
    margin: auto;

}

#lname {
    width: 60%;
    margin: auto 15% auto auto;  

}

/* End Name Banner Divs */

#navbar {
  width:80%;
  margin: auto;

}
#content1 {
 width: 80%;
 margin: 15% auto;

}