h1 {
font-family: "Ubuntu Condensed";
font-size: 80px;

}


h2 {
font-family: "Molengo";
font-size: 2em;

}

nav {
    font-family: "Molengo";

}


/* Divs */

.wrapper {
    margin: auto;
    width:80%;

}